<!DOCTYPE html>
<html lang="fi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokedex Generations</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <%- include('partials/header') %>

    <h1>Pokedex</h1>
    <h2>Valitse generaation</h2>
    <ul>
      <% generations.forEach(generation => { %>
      <li>
        <a href="/generation/<%= generation.number %>"
          >Generation <%= generation.roman %></a
        >
      </li>
      <% }) %>
    </ul>

    <%- include('partials/footer') %>
 
